extends ../templates/base

//- block vars 
//-     var page_title = "Home"
//-     var topNav = pg1 
//-     var refs
//-     var extra_modals = true
//-     var extra_js = false
     

block content
    div.slide-content-wrapper 
        img(src='' class='bg-img')
        div.content-wrap 
            h1 Hello :)


