// PLAYGROUND 2 SLIDE
.accordion{
    .accordion-wrap{
        border: 1px solid $darkRed;
        .section-title{
            border-bottom: 1px solid $darkRed;
            padding: 1vw;
            .title-wrap .caret{
                transition: transform 0.2s ease;
            }
            .title-wrap.is-open .caret{
                transform: rotate(180deg);
            }
            .section-content{
                padding: 1vw 0;
            }
            &:last-of-type{
                border-bottom: 0;
            }
        }
    }
}