/*------------------------------------*\
    VARIABLES
\*------------------------------------*/

$white: #ffffff;
$black: #000000;
$darkTeal: #0c7594;
$teal: #1a9ebf;
$pink: #bf42a5;
$lime: #a2a716;
$olive: #767e09;
$red: #CF1346;