/*------------------------------------*\
    VARIABLES
\*------------------------------------*/

// COLORS:
$white: #ffffff;
$black: #000000;
$red: #f50146;
$lightBlue: #22cbf5;
$darkRed: #990029;
$navy: #070e40;
$regBlue: #2d6b9e;

// FONTS:
$fontRegular: "Roboto", sans-serif;
$fontTitle: "Anton", sans-serif;